@import "include/post_snippet";

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin: 1em;
    color: #5f5b5b;
    background: #333333;
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        text-transform: uppercase;
    }
    .content {
        background: white;
        padding: 1em;
        &.about {
            @import "pages/about";
        }
        &.contact {
            @import "pages/contact";
        }
        &.index {
            @import "pages/index";
        }
        &.post {
            @import "pages/post";
        }
        &.services {
            @import "pages/services";
        }
        &.testimonials {
            @import "pages/testimonials";
        }
    }
}

header, footer {
    // Site navigation
    text-align: center;
    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
    color: #b3b3b3;
    background: #333333;
    a {
        color: white;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            &:not(:last-of-type):after {
                content: ' \00b7';
            }
        }
    }
}
