@import "include/reset";
@import "include/mixins";
@import "include/fonts";
@import "include/variables";
@import "include/post_snippet";

@import "font-awesome";


body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    color: $wunderdog-text;
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: $wunderdog-header;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
    }
    a {
        text-decoration: none;
        &, &:visited {
            color: black;
        }
        &:hover {
            color: $wunderdog-red;
        }
    }
    .content,
    & > header,
    & > footer {
        width: $page-width;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        background: white;
        h1, h2, h3, h4, h5, h6 {
            color: $wunderdog-header;
            font-family: 'Source Sans Pro', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
            font-size: 1.15em;
            a {
                text-decoration: none;
                color: $wunderdog-header;
            }
        }
        h1 {
            background: lightgray;
            padding: 20px;
            color: white;
            text-align: left;
        }
        .page-content {
            padding: 1em;
        }
        p {
            padding-bottom: 10px;
        }
    }
    & > header {
        height: 150px;
        display: block;
        background-size: cover;
        padding-top: 1em;
        position: relative;
        text-shadow: 0 0 10px white;
        &:before {
            content: url(../images/logo-300.png);
            position: absolute;
            left: 0;
            padding: 20px;
        }
        ul.menu {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
        }
        ul.social {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            li {
                &:hover {
                    color: $wunderdog-red;
                }
            }
        }
    }

    & > header,
    & > footer {
        // Site navigation
        text-align: center;
        h1, h2, h3, h4, h5, h6 {
            color: white;
        }
        a {
            color: white;
            text-transform: uppercase;
        }
        ul {
            list-style-type: none;
            font-size: 1.2em;
            li {
                display: inline;
                padding-right: 20px;
            }
        }
    }

    & > footer {
        a, a:visited {
            color: #b3b3b3;
            text-transform: uppercase;
        }
    }

    &:not(.home) > header {
        height: 140px;
    }
    &.home {
        @import "pages/index";
    }
    &.about {
        @import "pages/about";
    }
    &.contact {
        @import "pages/contact";
    }
    &.blog {
        @import "pages/blog";
    }
    &.post {
        @import "pages/post";
    }
    &.services {
        @import "pages/services";
    }
    &.testimonials {
        @import "pages/testimonials";
    }
}
