.post-snippet {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: solid 1px lightgray;
    h3 {
        float: right;
        font-weight: normal;
        color: black;
        text-transform: none;
    }
}
