h1 {
    display: none;
}

section {
    &.about {
        background-color: $wunderdog-accent;
    }
    &.blog {
        display: table;
        background-color: $wunderdog-accent;
        article {
            display: table-cell;
            width: 33%;
            .post-snippet {
                padding: 10px;
            }
        }
    }
    &.services {
        background-color: $wunderdog-accent;
    }
}
