ul#menu {
    float: right;
    padding: 0 1em 1em 0;
}

article.service {
    @include clearfix;
    display: none;
    &:target {
        display: block
    }
    h2, h3, h4, h5 {
        text-align: left;
    }
}
