<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}} - {{site.title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{site.author}}" />
        <link href="{{site.urlRoot}}styles/app.css" rel="stylesheet" media="screen" />
        <link rel="alternate" type="application/atom+xml" title="Wunderdog Blog Feed" href="/atom.xml" />
    </head>
    <body class="{{page.nav}}">
        <header>
            <ul class="menu">
                <li {% if page.nav == "home"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}">Home</a>
                </li>
                <li {% if page.nav == "about"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}about.html">About</a>
                </li>
                <li {% if page.nav == "services"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}services.html#service-overview">Services</a>
                </li>
                <li {% if page.nav == "testimonials"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}testimonials.html">Testimonials</a>
                </li>
                <li {% if page.nav == "blog"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}blog.html">Blog</a>
                </li>
                <li {% if page.nav == "contact"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}contact.html">Contact</a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/pages/Wunderdog-K-9-Care-Training-LLC/287830771243071"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="/atom.xml"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
        </header>
        <section class="content">
            <h1 class="page-title">{{page.title}}</h1>
            <div class="page-content">{% block content %}{% endblock %}</div>
        </section>
        <footer>
            <div class="links">
                <div>
                    <h1>Contact Info</h1>
                    <address>
                        Wunderdog LLC<br>
                        P.O. Box 426<br>
                        Waunakee, WI 53597
                    </address>
                    <a href="mailto:wunderdognh@yahoo.com">wunderdognh@yahoo.com</a>
                    <a href="tel:16033391007">603.339.1007</a>
                </div>
                <div class="quick-links">
                    <h1>Quick Links</h1>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}">Home</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}about.html">About Us</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}services.html#service-overview">Services</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}testimonials.html">Testimonials</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}blog.html">Blog</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Get In Touch</h1>
                    <p>
                        Let us know how our qualified team can help you and your
                        four-legged friend.
                    </p>
                    <a href="mailto:wunderdognh@yahoo.com">Click here to email us</a>
                </div>
            </div>
            <ul class="copyright">
                <li>
                    Copyright &copy; {{site.time|date('Y')}} Wunderdog LLC.
                    All rights reserved.
                </li>
                <li>
                    <a href="{{site.urlRoot}}atom.xml">RSS Feed</a>
                </li>
            </ul>
        </footer>

        <script src="{{site.urlRoot}}scripts/app.js"></script>
    </body>
</html>
