<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}} - {{site.title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="{{site.author}}" />
        <link href="{{site.urlRoot}}styles/app.css" rel="stylesheet" media="screen" />
        <link rel="alternate" type="application/atom+xml" title="Wunderdog Blog Feed" href="/atom.xml" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{site.urlRoot}}images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{site.urlRoot}}images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{site.urlRoot}}images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{site.urlRoot}}images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{site.urlRoot}}images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{site.urlRoot}}images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{site.urlRoot}}images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{site.urlRoot}}images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.urlRoot}}images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{{site.urlRoot}}images/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{site.urlRoot}}images/favicon/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="{{site.urlRoot}}images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{site.urlRoot}}images/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="{{site.urlRoot}}images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="{{site.urlRoot}}images/favicon/manifest.json">
        <link rel="shortcut icon" href="{{site.urlRoot}}images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-67677803-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body class="{{page.nav}}">
        <header>
            <a href="{{site.urlRoot}}" class="logo"><img src="{{site.urlRoot}}images/logo.jpg" alt="Wunderdog Logo"></a>
            <ul class="menu">
                <li {% if page.nav == "home"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}">Home</a>
                </li>
                <li {% if page.nav == "about"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}about.html">About</a>
                </li>
                <li {% if page.nav == "services"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}services.html">Services</a>
                </li>
                <li {% if page.nav == "testimonials"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}testimonials.html">Testimonials</a>
                </li>
                <li {% if page.nav == "blog"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}blog.html">Blog</a>
                </li>
                <li {% if page.nav == "links"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}links.html">Links</a>
                </li>
                <li {% if page.nav == "contact"%}class="active"{% endif%}>
                    <a href="{{site.urlRoot}}contact.html">Contact</a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/pages/Wunderdog-K-9-Care-Training-LLC/287830771243071"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="/atom.xml"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
        </header>
        <section class="content">
            <h1 class="page-title">{{page.title}}</h1>
            <div class="page-content">{% block content %}{% endblock %}</div>
        </section>
        <footer>
            <div class="links">
                <div>
                    <h1>Contact Info</h1>
                    <address>
                        Wunderdog LLC<br>
                        1808 Tierney Drive<br>
                        Waunakee, WI 53597
                    </address>
                    <a href="mailto:wunderdognh@yahoo.com">wunderdognh@yahoo.com</a><br>
                    <a href="tel:16033391007">603.339.1007</a>
                </div>
                <div class="quick-links">
                    <h1>Quick Links</h1>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}">Home</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}about.html">About Us</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}services.html">Services</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}testimonials.html">Testimonials</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}blog.html">Blog</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}links.html">Links</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="{{site.urlRoot}}contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Get In Touch</h1>
                    <p>
                        Let us know how our qualified team can help you and your
                        four-legged friend.
                    </p>
                    <i class="fa fa-caret-right"></i>
                    <a href="{{site.urlRoot}}contact.html">Contact us now!</a>
                    <a class="bom" href="{{site.urlRoot}}posts/best-of-madison-2016.html">
                        <img src="{{site.urlRoot}}images/best-of-madison-2016-silver.svg" alt="Best of Madison 2016 Winner" />
                    </a>
                </div>
            </div>
            <ul class="copyright">
                <li>
                    Copyright &copy; {{site.time|date('Y')}} Wunderdog LLC.
                    All rights reserved.
                </li>
                <li>
                    <a href="{{site.urlRoot}}atom.xml">RSS Feed</a>
                </li>
                <li>
                    Designed by <a href="http://www.kismetbydesign.com/" target="_blank">Kismet By Design</a> and <a href="http://blog.crushingpennies.com/" target="_blank">Crushing Pennies</a>
                </li>
            </ul>
        </footer>
        <script src="{{site.urlRoot}}scripts/app.js"></script>
    </body>
</html>
