{% set page.nav = "journal" %}
{% extends 'base.html' %}

{% block content %}
<article>
    <header>
        <div class="tags">
            {% for tag in page.tags %}
                <a href="/tag/{{tag}}.html">{{tag}}</a>
            {% endfor %}
        </div>
        <h3 class="published">{{page.date|date('M j, Y')}}</h3>
    </header>
    {% if page.image %}<img src="../images/posts/{{page.image}}" alt="{{page.title}}">{% endif %}
    {{content|safe}}
</article>
{% if page.allowComments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        'use strict';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//wunderdog.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
{% endblock %}
