@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);


/*@font-face {
    font-family: 'novecento_wide_demiboldbold';
    src: url('../fonts/novecento_widedemibold-webfont.eot');
    src: url('../fonts/novecento_widedemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecento_widedemibold-webfont.woff2') format('woff2'),
         url('../fonts/novecento_widedemibold-webfont.woff') format('woff'),
         url('../fonts/novecento_widedemibold-webfont.ttf') format('truetype'),
         url('../fonts/novecento_widedemibold-webfont.svg#novecento_wide_demiboldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
