{% extends "page.html" %}

{% set page.title = "Contact" %}
{% set page.nav = "contact" %}

{% block content %}
    <form method="POST" action="//formspree.io/danielnaab@gmail.com">
        <legend>Please contact us with your questions.</legend>
        <div>
            <label for="name">Dog Name</label>
            <input type="text" name="dog_name" type="name" class="form-control" id="dog_name" placeholder="Enter your dog's name" required>
        </div>
        <div>
            <label for="name">Your Name</label>
            <input type="text" name="name" type="name" class="form-control" id="name" placeholder="Enter your name" required>
        </div>
        <div>
            <label for="email">Email address</label>
            <input name="_replyto" type="email" class="form-control" id="email" placeholder="Enter your email address" required>
        </div>
        <div>
            <label for="phone">Phone Number</label>
            <input name="phone" type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required>
        </div>
        <div>
            <label for="message">Your Message</label>
            <textarea name="message" class="form-control" rows="6" placeholder="Enter your message"  required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% endblock %}
