{% extends "base.html" %}
{% set page.title = "Home" %}
{% set page.nav = "home" %}

{% block content %}
    <section class="slideshow">
        <input type="radio" name="selected-item" id="radio-1" value="1" checked style="display: none;">
        <input type="radio" name="selected-item" id="radio-2" value="2" style="display: none;">
        <input type="radio" name="selected-item" id="radio-3" value="3" style="display: none;">
        <input type="radio" name="selected-item" id="radio-4" value="4" style="display: none;">
        <div id="image-1">
            <a href="{{site.urlRoot}}posts/best-of-madison-2016.html">
                <img src="{{site.urlRoot}}images/slideshow/bom.png" alt="We're a Best of Madison 2016 Winner!">
            </a>
        </div>
        <div id="image-2">
            <a href="{{site.urlRoot}}about.html">
                <img src="{{site.urlRoot}}images/slideshow/about.png" alt="About Us">
            </a>
        </div>
        <div id="image-3">
            <a href="{{site.urlRoot}}services.html">
                <img src="{{site.urlRoot}}images/slideshow/services.png" alt="Our Services">
            </a>
        </div>
        <div id="image-4">
            <a href="{{site.urlRoot}}blog.html">
                <img src="{{site.urlRoot}}images/slideshow/blog.png" alt="Blog">
            </a>
        </div>
        <button class="previous-slide">&lt;</button>
        <button class="next-slide">&gt;</button>
    </section>

    <section class="welcome">
        <h3>We are a small team doing big things</h3>
        <h4>in Madison and all of South Central Wisconsin!</h4>
        <p>With a better understanding of innate dog behavior, both owner and dog will benefit, and the Wunderdog team strives to teach this to our clients in a way that everyone can understand.</p>
    </section>

    <section class="info">
        <ul>
            <li>
                <a href="{{site.urlRoot}}about.html#staff-lynn">
                    <img src="{{site.urlRoot}}images/info/circle-pic-1.png" alt="qualifications">
                </a>
                <h3>Qualifications</h3>
                <p>Owner and President of Wunderdog LLC, Lynn Wunderli has been training dogs for over 35 years. Her knowledge and experience with dogs began as a child as her father was a successful breeder and trainer of English Setters and Pointers for over 55 years in Illinois.</p>
                <a href="{{site.urlRoot}}about.html#staff-lynn">
                    <i class="fa fa-caret-right"></i>
                    Read more
                </a>
            </li>
            <li>
                <a href="{{site.urlRoot}}services.html#service-training">
                    <img src="{{site.urlRoot}}images/info/circle-pic-2.png" alt="individual training">
                </a>
                <h3>Classes &amp; Individual Training</h3>
                <p>Whether you choose personalized training or a group class, Wunderdog, LLC will provide you exceptional service from nose to tail! Our team will work with you to create a custom-designed training plan specifically for you and your four-footed family member.</p>
                <a href="{{site.urlRoot}}services.html#service-training">
                    <i class="fa fa-caret-right"></i>
                    Learn more
                </a>
            </li>
            <li>
                <a href="{{site.urlRoot}}services.html#service-in-home">
                    <img src="{{site.urlRoot}}images/info/circle-pic-3.png" alt="boarding and in-home stays">
                </a>
                <h3>In-Home Services</h3>
                <p>Whether you are planning a vacation, have unexpected hours you will be away during the day, need rehabilitative care after you pet's surgery, or just need help with exercising you dog - Wunderdog is at your service! And we are fully insured and bonded!</p>
                <a href="{{site.urlRoot}}services.html#service-in-home">
                    <i class="fa fa-caret-right"></i>
                    Find out more
                </a>
            </li>
        </ul>
    </section>

    <section class="testimonials">
        <h3><a href="testimonials.html">Testimonials</a></h3>
        <p>
            Wunderdog is a family business based on trust, knowledge, and integrity. Whether our clients have chosen training, in-home routine and specialize visits, or group classes, we have provided these services with instruction and insight. Check out their experiences!
        </p>
        <!-- Most recent testimonials -->
        <div class="samples">
            <article class="testimonial">
                <img src="{{site.urlRoot}}images/featured-testimonials/jackson.png" alt="Jackson Testimonial">
                <div>
                    <h3><a href="testimonials.html#testimonial-david-stafford">Jackson</a></h3>
                    <p>
                        Anxiety, territorial aggression
                    </p>
                    <p>
                        <a href="testimonials.html#testimonial-david-stafford" class="more">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </article>
            <article class="testimonial">
                <img src="{{site.urlRoot}}images/featured-testimonials/sassy.png" alt="Sassy Testimonial">
                <div>
                    <h3><a href="testimonials.html#testimonial-diane-and-jack">Sassy</a></h3>
                    <p>
                        Fear, aggression, lack of leadership
                    </p>
                    <p>
                        <a href="testimonials.html#testimonial-diane-and-jack" class="more">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </article>
            <article class="testimonial">
                <img src="{{site.urlRoot}}images/featured-testimonials/petey.png" alt="Petey Testimonial">
                <div>
                    <h3><a href="testimonials.html#testimonial-gina-and-bruce-a">Petey</a></h3>
                    <p>
                        Physical &amp; mental rehabilitation, re-home
                    </p>
                    <p>
                        <a href="testimonials.html#testimonial-gina-and-bruce-a" class="more">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </article>
            <article class="testimonial">
                <img src="{{site.urlRoot}}images/featured-testimonials/chelsea.png" alt="Chelsea Testimonial">
                <div>
                    <h3><a href="testimonials.html#testimonial-sue-m">Chelsea</a></h3>
                    <p>
                        Puppy training, in-home rehab services
                    </p>
                    <p>
                        <a href="testimonials.html#testimonial-sue-m" class="more">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </article>
            <article class="testimonial">
                <img src="{{site.urlRoot}}images/featured-testimonials/nash.png" alt="Nash Testimonial">
                <div>
                    <h3><a href="testimonials.html#testimonial-mary-and-rusty-r">Nash</a></h3>
                    <p>
                        Puppy training, adolescent-to-adult training
                    </p>
                    <p>
                        <a href="testimonials.html#testimonial-mary-and-rusty-r" class="more">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </article>
            <article class="testimonial">
                <img src="{{site.urlRoot}}images/featured-testimonials/angie-winston.png" alt="Angie and Winston Testimonial">
                <div>
                    <h3><a href="testimonials.html#testimonial-karen-and-kelly-w">Angie &amp; Winston</a></h3>
                    <p>
                        Fear, aggression, adult obedience, rehab, re-home
                    </p>
                    <p>
                        <a href="testimonials.html#testimonial-karen-and-kelly-w" class="more">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </article>
        </div>
    </section>

    {#
    <section class="blog">
        <h3><a href="blog.html">Recent Blog Posts</a></h3>
        <!-- Three most recent posts -->
        {% for post in site.posts %}
            <article>
                {% if loop.index < 4 %}
                    {% include "include/_post_snippet.html" %}
                {% endif %}
            </article>
        {% endfor %}
    </section>
    #}

    {#<section class="services">
        <h3><a href="{{site.urlRoot}}services.html">Services</a></h3>
        <ul>
            <li>Puppies beginning their lives with owners--good beginning practices, setting up for success</li>
            <li>People experiencing issues with their dogs who need help</li>
            <li>individuals wishing to CGC certify their dogs (Canine Good Citizenship)</li>
            <li>neighborhood associations, condo assoc, apartment complexes wishing to put a program in place to CGC certify resident dogs</li>
            <li>group classes (look for future dates)</li>
            <li>some in-home care (don't know how much I want to go into this--I only do it for select clients, but want to leave that door open...)</li>
            <li>local daycares that need staff training or guidance in improving their program (presentations, personal or group training...)</li>
        </ul>
    </section>#}
{% endblock %}
