{% extends "base.html" %}
{% set page.title = "Home" %}
{% set page.nav = "home" %}

{% block content %}
    <h3><a href="blog.html">Recent Blog Posts</a></h3>
    <section class="blog">
        <!-- Three most recent posts -->
        {% for post in site.posts %}
            <article>
                {% if loop.index < 4 %}
                    {% include "include/_post_snippet.html" %}
                {% endif %}
            </article>
        {% endfor %}
    </section>
    <h3>Services</h3>
    <section class="services">
        <a href="/services.html">Services we offer...</a>
    </section>
    <h3><a href="testimonials.html">Recent Testimonials</a></h3>
    <section class="testimonials">
        <!-- Three most recent posts -->
        {% for testimonial in site.testimonials %}
            <article>
                {% if loop.index < 4 %}
                    <h3><a href="testimonials.html#testimonial-{{loop.index}}">{{testimonial.author}}, {{testimonial.authorLocation}}</a></h3>
                    {% if testimonial.image %}
                        <img src="images/testimonials/{{testimonial.image}}" alt="{{testimonial.author}}" />
                    {% endif %}
                    <p>
                        {{testimonial.content|truncate(300)|safe}}
                        <a href="testimonials.html#testimonial-{{loop.index}}">More...</a>
                    </p>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}
