{% extends "base.html" %}
{% set page.title = "Home" %}
{% set page.nav = "home" %}

{% block content %}
    <h3>About Us</h3>
    <section class="about">
        <a href="/about.html">Read about us...</a>
    </section>
    <h3>Services</h3>
    <section class="services">
        <a href="/services.html">Services we offer...</a>
    </section>
    <h3>Recent Blog Posts</h3>
    <section class="blog">
        <!-- Three most recent posts -->
        {% for post in site.posts %}
            <article>
                {% if loop.index < 4 %}
                    {% include "include/_post_snippet.html" %}
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}
