{% extends "page.html" %}

{% set page.title = "Links" %}
{% set page.nav = "links" %}

{% block content %}
    <p>Please support these highly recommended businesses:</p>
    <ol>
        <li><h4><a href="http://www.canineprofessionals.com" target="_blank">International Association of Canine Professionals</a></h4></li>
        <li><h4><a href="http://www.giantschnauzerclubofamerica.com" target="_blank">Giant Schnauzer Club of America</a></h4></li>
        <li><h4><a href="http://www.akc.org" target="_blank">AKC - American Kennel Club</a></h4></li>
        <li><h4><a href="http://pawsnewengland.com" target="_blank">Paws New England</a></h4></li>
    </ol>
{% endblock %}
