{% extends "page.html" %}
{% set page.title = "Services" %}
{% set page.nav = "services" %}

{% block content %}
    <div id="menu-container">
        <ul id="menu">
            <li><a href="#service-overview">Overview</a></li>
            {% for service in site.services %}
                <li>
                    <a href="#service-{{service.title|slugify|lower}}">{{service.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <article id="service-overview" class="service">
        <p class="intro">Whether you choose personalized training or a group class, Wunderdog, LLC will provide you exceptional service from nose to tail!</p>
        <p class="intro">To hear more about our services-in-action, view our <a href="testimonials.html">testimonials</a>.</p>
        <h3 id="personalized-training">Personalized Training</h3>
        <p>Every dog is different. Every family&#39;s schedule is different. If you are looking for learning the most you can in the most convenient place for your family, personalized training is for you! Whether your sessions take place in your home, a park nearby, or any combination designed specifically for you and you four-footed family member, your dog CAN become a WUNDERDOG!</p>
        <h3 id="group-class">Group Classes</h3>
        <p>Group classes are very affordable ways to help you and your dog! Looking for something to do weekly with your dog? Want to start your puppy out right? Looking to help your adolescent pup remember manners and learn new things?
        <h3 id="specialized-personal-training">Specialized Personal Training</h3>
        <p>Is there a special skill (such as biking, hiking, etc.) that you would like to learn to do safely with your dog? Contact WUNDERDOG today to see if we can help design a program for you! We have had great success in helping clients achieve their personal goals with their dogs!</p>
        <h3 id="in-home-services">In-Home Services</h3>
        <p>Wunderdog offers routine and vacation (scheduled in advance) for your pets in your home.  Our exceptional attention to detail has always had our clients raving about our services. Whether you are planning a vacation, have unexpected hours you will be away during the day, need rehabilitative care after your pet&#39;s surgery, or just need help with exercising your dog - Wunderdog is at your service! We are fully insured and bonded!</p>
        <h3 id="public-speaking-services">Public Speaking Services</h3>
        <p>Lynn Wunderli is available to present and speak in public forums on dog behavior. Lynn has presented at town forums, schools, veterinarian clinics, and conferences.</p>
        <p>Lynn offers a discount to organizations that do rescue and shelter work, and has donated time to town recreational organizations.</p>
        <p>Some of the Power Point presentations include:</p>
        <ul>
        <li>&quot;CBADDC&quot; (Canine Behavior and Doggie Daycare) What Makes a Good Doggie Daycare</li>
        <li>&quot;Canine Behavior in the Vet Hospital Setting&quot; Learning Basic Dog Behaviors Relevant to Handling Patients</li>
        <li>&quot;Woof, Bark, Whine, Growl!&quot; How Dogs and Humans Communicate</li>
        <li>&quot;Kids and Dogs!&quot; What Kids Need to Know About Dogs</li>
        </ul>
        <p>Lynn is available to consult and develop a presentation personalized for your business or organization. Helpful handouts can also be produced for your facility for the price of printing. Lynn can be reached directly via cell phone 603-339-1007 (a Verizon phone).</p>
        <h3 id="fundraisers-">Fundraisers!</h3>
        <p>Book us for your next Fundraiser!</p>
        <p>We will donate a basket worth over $100 in items and services! The only thing we expect is a listing in your fundraising advertisements and/or a booth at your event!</p>
    </article>

    {% for service in site.services %}
        <article id="service-{{service.title|slugify|lower}}" class="service">
            {% include "include/_service.html" %}
        </article>
    {% endfor %}
{% endblock %}
