{% extends "page.html" %}
{% set page.title = "Testimonials" %}
{% set page.nav = "testimonials" %}

{% block content %}
    {% for testimonial in site.testimonials %}
        <article class="testimonial-{{loop.index}}">
            {% if testimonial.image %}
                <img src="images/testimonials/{{testimonial.image}}" alt="{{testimonial.author}}" />
            {% endif %}
            {{testimonial.content|safe}}
            <ul>
                {% for signee in testimonial.signees %}
                    <li>{{signee}}, {{testimonial.authorLocation}}</li>
                {% endfor %}
                {% if !testimonial.signees %}
                    <li>{{testimonial.author}}, {{testimonial.authorLocation}}</li>
                {% endif %}
            </ul>
        </article>
    {% endfor %}
{% endblock %}
